@{
    ViewBag.Title = "About Us";
}
<h1>@ViewBag.Title</h1>
<div class="jumbotron">
    <p>
        Are you a musician but don't know how to promote yourself? <br />
        Good news you’re on the right website!<br /><br />
        We are a company who will give an opportunity to musicians to promote themselves by uploading their music online for Free!
    </p>
</div>

